/* Estilos base para el formulario de login */
@tailwind base;
@tailwind components;
@tailwind utilities;
.login-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-hijo {
    margin-top: 20px; /* Cambia el valor de acuerdo a tus necesidades */
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
