<!-- FILEPATH: /c:/Users/JONA/Desktop/clases/Acceso_A_Datos/II/RedSocial4/templates/components/navbar.html -->

<!-- This template represents the navigation bar component of the website. It includes the logo, login and registration links, user profile information, search bar, and main navigation links. It also includes a mobile sidebar menu for smaller screens. -->
{% load static %}
<nav class="fixed top-0 z-50 flex flex-col items-center justify-center w-full bg-white border-b shadow dark:bg-dark-second h-max md:h-14 md:flex-row md:justify-between dark:border-dark-third">

    <!-- LEFT NAV -->
    <div class="flex items-center justify-between w-full px-4 py-2 md:w-max">
        <a href="{% url 'account_login' %}" class="hidden mr-2 md:inline-block">
            <img src="{% static 'img/ali.jpg' %}" alt=" logo" class="w-24 h-auto sm:w-20 lg:w-10" >
        </a>
        <a href="{% url 'account_login' %}"   class="inline-block md:hidden">
            <img src="{% static 'img/ali.jpg' %}" alt="" class="w-10 h-10" >
        </a>

        <div class="flex items-center justify-between space-x-1">
            {% comment %} usuario  {% endcomment %}
            {% if not user.is_authenticated %}
        
            <a href="{% url 'account_login' %}" class="inline-flex items-center justify-center p-1 mx-1 rounded-full md:hidden hover:bg-gray-200 dark:hover:bg-dark-third">
                
                <span class="mx-2 font-semibold dark:text-dark-txt">Login</span>
            </a>
            <a href="{% url 'account_signup' %}" class="inline-flex items-center justify-center p-1 mx-1 rounded-full md:hidden hover:text-white hover:bg-blue-600 dark:hover:bg-dark-third">
                
                <span class="mx-2 font-semibold dark:text-dark-txt">Register</span>
            </a>
        
            {% else %}
            {% comment %} COINS {% endcomment %}
            {% comment %} <a href="#" class="inline-flex items-center justify-center p-1 mx-1 rounded-full md:hidden hover:bg-gray-200 dark:hover:bg-dark-third">
                <i class='text-yellow-400 bx bx-coin'></i>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
                </svg>
                <span class="mx-2 font-semibold dark:text-dark-txt">{{user.profile.coins}}</span>
            </a> {% endcomment %}

            <form  method="GET" action="{% url 'social:profile-search'  %}"  class="relative flex items-center justify-center w-10 h-10 px-2 py-2 mt-3 bg-gray-100 rounded-full cursor-pointer dark:bg-dark-third sm:w-11 sm:h-11 lg:h-10 lg:w-10 xl:w-max xl:pl-3 xl:pr-8">
                <button type="submit" class='text-xl bx bx-search-alt-2 xl:mr-2 dark:text-dark-txt'></button>
                {% comment %} query nombre de la consulta en la vista social {% endcomment %}
                <input name="query" value="{{request.GET.query}}"  type="text" placeholder="Search User" class="hidden bg-transparent border-none outline-none xl:inline-block">
            </form>

            <div class="grid w-10 h-10 text-xl bg-gray-200 rounded-full cursor-pointer place-items-center md:hidden dark:bg-dark-third hover:bg-gray-300 dark:text-dark-txt" id="dark-mode-toggle-mb">
                <i class='bx bxs-bell'></i>
            </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- END LEFT NAV -->

    <!-- MAIN NAV -->
    <ul x-data="{ open: false }" class="flex items-center justify-center w-full lg:w-max">
        <li class="w-1/5 text-center md:w-max" id="active">
            <a href="{% url 'account_login' %}"  class="inline-block w-full px-3 py-2 text-3xl text-center text-blue-500 border-b-4 border-blue-500 cursor-pointer xl:px-12">
                <i class='bx bxs-home'></i>
            </a>
        </li>
        <li class="w-1/5 text-center md:w-max">
            <a href="" class="relative inline-block w-full px-3 py-2 text-3xl text-center text-gray-600 rounded cursor-pointer xl:px-12 hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt">
                <i class='bx bx-movie-play'></i>
                {% comment %} <span class="absolute top-0 px-1 text-xs font-semibold text-center text-white bg-red-500 rounded-full right-1/4">9+</span> {% endcomment %}
            </a>
        </li>
        {% if user.is_authenticated %}
            <li class="w-1/5 text-center md:w-max">
                <a href="{% url 'users:followers-list' user.profile.pk %}" class="relative inline-block w-full px-3 py-2 text-3xl text-center text-gray-600 rounded cursor-pointer xl:px-12 hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt">
                    <i class='bx bx-store'></i>
                </a>
            </li>
        {% else %}
            <li class="w-1/5 text-center md:w-max">
                <span class="relative inline-block w-full px-3 py-2 text-3xl text-center text-gray-600 rounded cursor-pointer xl:px-12 hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt">
                    
                </span>
            </li>
        {% endif %}

        <li class="hidden w-1/5 text-center md:w-max md:inline-block">
            <button @click="open=true" class="relative inline-block w-full px-3 py-2 text-3xl text-center text-gray-600 rounded cursor-pointer xl:px-12 hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt">
                <i class='bx bx-menu'></i>
            </button>
        </li>
        <li class="inline-block w-1/5 text-center md:w-max md:hidden">
            <button @click="open=true" class="relative inline-block w-full px-3 py-2 text-3xl text-center text-gray-600 rounded cursor-pointer xl:px-12 hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt">
                <i class='bx bx-menu'></i>
            </button>
        </li>
            

        <!--LEFT Mobile Sidebar-->
        <div @keydown.window.escape="open = false" x-show="open" aria-labelledby="slide-over-title" x-ref="dialog" aria-modal="true" 
                class="fixed inset-0 z-10 overflow-auto xl:hidden ">
            <div class="absolute inset-0 overflow-hidden">
                
                <div x-description="Background overlay, show/hide based on slide-over state." class="absolute inset-0" @click="open = false" aria-hidden="true"></div>

                <div class="fixed inset-y-0 right-0 flex max-w-full pl-10 ">
                
                    <div x-show="open" @click.away="open = false"  class="w-screen max-w-md" x-description="Slide-over panel, show/hide based on slide-over state.">
                        <div class="flex flex-col h-full py-6 overflow-y-scroll bg-white shadow-xl dark:bg-dark-second scrollbar-hide">
                            <div class="px-4 sm:px-6">
                                <div class="flex items-start justify-between">
                                    <h2 class="text-lg font-medium text-gray-900 dark:text-gray-500" id="slide-over-title">
                                    Menu
                                    </h2>
                                    <div class="flex items-center ml-3 h-7">
                                    <button class="text-gray-400 bg-white rounded-md dark:bg-dark-third hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" @click="open = false">
                                        <span class="sr-only">Close panel</span>
                                        <svg class="w-6 h-6" x-description="Heroicon name: outline/x" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                    </div>
                                </div>
                            </div>

                            <div class="relative flex-1 px-4 mt-6 sm:px-6">
                                <!-- Replace with your content -->
                                
                                <!--Menu Items-->
                                {% include 'components/sidebars/left/items.html' %}
                               

                                {% include 'components/footer.html' %}
                                
                                <!-- /End replace -->
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>

    </ul>
    <!-- END MAIN NAV -->

    <!-- RIGHT NAV -->
    <ul class="items-center justify-center hidden mx-4 md:flex">
        {% if not user.is_authenticated %}
        
            <a href="{% url 'account_login' %}" class="inline-flex items-center justify-center p-1 mx-1 rounded-full hover:bg-gray-200 dark:hover:bg-dark-third">
                
                <span class="mx-2 font-semibold dark:text-dark-txt">Login</span>
            </a>
            <a href="{% url 'account_signup' %}" class="inline-flex items-center justify-center p-1 mx-1 rounded-full hover:text-white hover:bg-blue-600 dark:hover:bg-dark-third">
                
                <span class="mx-2 font-semibold dark:text-dark-txt">Register</span>
            </a>
        
        {% else %}

        {% comment %} <li class="h-full xl:flex">
            <a href="#" class="inline-flex items-center justify-center p-1 mx-1 rounded-full hover:bg-gray-200 dark:hover:bg-dark-third">
                <i class='text-yellow-400 bx bx-coin'></i>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
                </svg>
                <span class="mx-2 font-semibold dark:text-dark-txt">{{user.profile.coins}}</span>
            </a>
        </li> {% endcomment %}

        <li>
            <div x-data="{open:false}">
            <div @click="open=true" class="relative grid p-3 mx-1 text-xl bg-gray-200 rounded-full cursor-pointer place-items-center dark:bg-dark-second dark:bg-dark-third dark:text-dark-txt hover:bg-gray-300">
                <i class='bx bxs-bell'></i>
                <span class="absolute top-0 right-0 px-1 text-xs font-semibold text-center text-white bg-red-500 rounded-full"></span>
            </div>

                <div x-show="open" @click.away="open=false" class="absolute right-0 w-56 mt-2 origin-top-right bg-white rounded-md shadow-lg dark:bg-dark-second ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                    <div class="py-1" role="none">
                    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 dark:text-dark-txt" role="menuitem" tabindex="-1" id="menu-item-0">Account settings</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 dark:text-dark-txt" role="menuitem" tabindex="-1" id="menu-item-1">Support</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 dark:text-dark-txt" role="menuitem" tabindex="-1" id="menu-item-2">License</a>
                    <form method="POST" action="#" role="none">
                        <a href="{% url 'logout' %}" class="block w-full px-4 py-2 text-sm text-left text-gray-700 dark:text-dark-txt" role="menuitem" tabindex="-1" id="menu-item-3">Sign out</a>
                    
                        </button>
                    </form>
                    </div>
                </div>
            </div>

        </li>
        {% endif %}
    </ul>
    <!-- END RIGHT NAV -->

</nav>
